Source: openstatistic
Section: libs
Priority: extra
Maintainer: Adjacent Link LLC <labs@adjacentlink.com>
Build-Depends: debhelper (>= 9), dh-python, protobuf-compiler, autotools-dev, python3-setuptools,  libprotobuf-dev
Standards-Version: 3.9.3
Homepage: https://github.com/adjacentlink/openstatistic

Package: openstatistic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenStatistic

Package: openstatistic-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, openstatistic (= ${binary:Version})
Description: Headers necessary to use OpenStatistic

Package: python-openstatistic
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-protobuf, python-lxml
Description: OpenStatistic Python modules and utilities

Package: python3-openstatistic
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-protobuf, python3-lxml
Description: OpenStatistic Python modules and utilities
